.tarefasAdd{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 3rem;

}

.tarefasAdiciona{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    width: 50rem;
    border-radius: 0.6rem;
    background-color: #454545;
    color: #F2F2F2;
}

.tarefasAdiciona img{
    padding-left: 0.5rem;
}

.tarefasAdiciona{
    padding-right: 0.5rem;
}

.tarefasAdiciona button{
    padding: 0;
    background-color: #454545;
    color: #F2F2F2;
    border: none;
}